@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

.animation {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dvwwzmsmn/image/upload/v1590631835/LWA/background_uxeio9.jpg");
}

.animation:before,
.animation:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid #7d0e10;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.animation:before {
  border-color: #7d0e10 #7d0e10 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.animation:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #7d0e10 #7d0e10;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}

h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #1d1d1e;
}

h5 {
  font-size: 35px;
  font-weight: lighter;
  color: white;
}

p {
  font-size: 17px;
  font-weight: lighter;
  color: #808080;
}

h3 {
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 1.3em;
  color: #808080;
}

h6 {
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: white;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.3em;
  color: #808080;
}

.images {
  margin: 1em;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);

}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
  max-width: 50%;
}

.containerFillerOne {
  display: flex;
  width: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/dvwwzmsmn/image/upload/v1590631820/LWA/lumber_jlds47.png");
}

.containerFillerTwo {
  max-width: 1024px;
  margin: auto;
  margin-bottom: 4em;
  margin-top: 3em;
  text-align: center;
  color: white; 
}

.containerHeaderOne {
  display: flex;
  width: auto;
  height: 900px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/dvwwzmsmn/image/upload/v1590631835/LWA/background_uxeio9.jpg");
}

.containerHeaderTwo {
  max-width: 1024px;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 5em;
}

.containerServicesOne {
  display: flex;
  width: auto;
  background-color: white;
}

.containerServicesTwo {
  max-width: 1024px;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 3em;
}

.containerReviewsOne {
  display: flex;
  width: auto;
  background-color: #7d0e10;
}

.containerReviewsTwo {
  max-width: 1024px;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 3em;
  padding: 1em;
  color: white;
  text-align: center;
}

.containerContactOne {
  display: flex;
  width: auto;
  background-color: #eeeeee;
}

.containerContactTwo {
  max-width: 1024px;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 3em;
  text-align: center;
}

.containerFooter {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;
  background-color: white;
  margin-bottom: 5em;
  margin-top: 5em;
}