html {
  scroll-behavior: smooth;
}

section {
}

.mainNav {
  display: flex;
  height: 4em;
  width: 100%;
  top: 0;
  background-color: #2e2e31;
  position: fixed;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  z-index: 100;
}

.rightNavStyles {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  padding: 0.8em 0.5em;
  align-items: center;
}

.leftNavStyles {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.logo {
  margin: 0.5em;
}

.navbutton {
  padding: 1em 2em 1em;
  font-size: 12px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbuttonOne {
  padding: 0.8em 2em 0.8em;
  font-size: 12px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 1px solid white;
  border-radius: 4px;
  margin-right: 2em;
  margin-left: 1.5em;
}

.navbuttonTwo {
  padding: 0.8em 2em 0.8em;
  font-size: 12px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #7d0e10;
  border: 1px solid #7d0e10;
  border-radius: 4px;
  margin-right: 1em;
}

.navbutton:hover {
  color: gray;
}

.navbuttonOne:hover {
  box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.3);
  color: gray;
  border: 1px solid gray;
}

.navbuttonTwo:hover {
  box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.3);
  color: gray;
}

.hamnav label,
#hamburger {
  display: none;
}

@media screen and (max-width: 600px) {
  .mainNav {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
  }

  .leftNavStyles {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .rightNavStyles {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .navbutton {
    padding: 1em 2em 1em;
    font-size: 10px;
  }

  .navbuttonOne {
    font-size: 10px;
    margin-right: 1em;
    margin-left: 0.5em;
  }
}
